
@{
    ViewBag.Title = "Date Comparison";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Date Comparison</h2>
<script language="javascript" type="text/javascript">
    $(function () {
        $("#startdatepicker").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#enddatepicker").datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>
<div>
    <p>Start Date: <input type="text" id="startdatepicker" data-bind="value: StartDate"/>   End Date: <input type="text" id="enddatepicker" data-bind="value: EndDate"/></p>
    <button data-bind="click: ToggleDateComparisons">Calculate Differences between choosen dates</button>
    <button data-bind="click: Reset">Clear</button>
    <input type="checkbox" data-bind="checked: IncludeLastDay"/>
    <span >Include Last Day</span>
</div>
<br/>
<div class="comparison_summary" data-bind="visible: ShowDateComparisons()" >
    <h1>Days: <span data-bind="text: Days"></span></h1><br/>
    <p>Other Time Unit Measurements</p>
    <p>Years: <span data-bind="text: Years"></span></p>
    <p>Months: <span data-bind="text: Months"></span></p>
    <p>Weeks: <span data-bind="text: Weeks"></span></p>
    <p>Days: <span data-bind="text: Days"></span></p>
    <p>Hours: <span data-bind="text: Hours"></span></p>
    <p>Minutes: <span data-bind="text: Minutes"></span></p>
    <p>Seconds: <span data-bind="text: Seconds"></span></p>
</div>
