.comparison_summary {
    display: block;
    padding: 20px 40px;
    background: #ffc;
    border: 1px solid #ccc;
    margin-bottom: 25px;
    position: relative;
    color: #333;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-bottom: 0;
}