
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main</h2>

<div>
    <div class="hours"></div>
    <div class="minutes"></div>
    <div class="seconds"></div>
</div>