<!DOCTYPE html>

<html ng-app>
    <head>
        <script type='text/javascript' src='~/Scripts/libs/knockout-2.2.1.js'></script>
        <script type='text/javascript' src="~/Scripts/libs/angular.min.js"></script>
        <script type='text/javascript' src="~/Scripts/todo.js"></script>

        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
