<!DOCTYPE html>

<html ng-app>
    <head>
        <script type='text/javascript' src='~/Scripts/libs/knockout-3.1.0.js'></script>
        <script type='text/javascript' src="~/Scripts/libs/angular.min.js"></script>
        <script type='text/javascript' src="~/Scripts/libs/jquery-2.0.2.min.js"></script>
        <script type='text/javascript' src="~/Scripts/libs/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="~/Scripts/libs/DateDifference.js"></script>
        <script type='text/javascript' src="~/Scripts/todo.js"></script>
        <script type='text/javascript' src="~/Scripts/models/DateComparisons.js"></script>
        
        <link rel="stylesheet" href="/Content/jquery-ui-1.10.4.custom.min.css" />
        <link rel="stylesheet" href="/Content/styles.css"/>

        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
